*{
    background: #d3d1d1;
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
}

.logo-alura{
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 20px;
    margin-left: 170px;
}

.ingresar-texto{
    height: 450px;
    border: none;
    color: #082b55;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{ color: #082b55;}
    .ingresar-texto:focus {
        outline: none;
    }

.mensaje{
    height: 650px;
    background: #dfdddd;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #082b55;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.boton-encriptar{
    background-color: #0c3b74;
    border: 1px solid #0c3b74;
    border-radius: 24px;
    color: rgb(214, 213, 213);
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.boton-desencriptar{
    background: #9ebfe9;
    border: 1px solid #0c3b74;
    border-radius: 24px;
    color: #0c3b74;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 30px;
}

.copiar{
    border: 1px solid #0c3b74;
    border-radius: 24px;
    color: #0c3b74;
    cursor: pointer;
    height: 67px;
    width: 350px;
    margin-left: 105px;
    margin-top: 605px;
    position: absolute;
}

.informacion{
    color: #082b55;
    font-size: 16px;
    opacity: 0.8;
    margin-block: auto;
}

.informacion::before{
    content: "✦";
}

@media  screen and (max-width:1140px){
    *{
        overflow-y: unset;
    }
    .logo{
        margin: 0 auto;
    }
    .logo-alura{
        width:auto;
    }
    main{
        display: grid;
        margin: 1% 5%;
        align-items: center;
        justify-content: center;
        }
    .botones{
        display: inline;
    }
    .boton-desencriptar{
        margin:10px auto;
    }
    
    .ingresar-texto{
        width: 77%;
        margin-top: 5px;
        height: 30vh;
    }

     .copiar{
        margin: 170px auto;
        width: 79%;
    }
    .mensaje{
        margin: 30px auto;
        width: 77%;
        height: 200px;
        background-image: none;
    }
}